<div class="blog-header">
    <h1 class="blog-title">Work</h1>
</div>


<div class="blog-header">
    <h3 class="blog-title">Revun</h3>
    <p class="lead blog-description">Revun: An Application to Help You Sort Through the News</p>
</div>

<div class="row">
    <div class="col-sm-12 blog-main">
        <div class="blog-post">
            <a href="https://reverse-news.herokuapp.com/#/normalFilter"> It's alive!</a>
            </br>
            <p>
                This is the result of a two week long final project that was completed with two other group members. The goal of this project was to help people remove stories with certain keywords. My work is most readily seen in the email functionality, choice of animations,
                and the regular expressions used to parse the news stories.
            </p>
        </div>
    </div>
</div>


<div class="blog-header">
    <h3 class="blog-title">The Fancy Movie Club</h3>
    <p class="lead blog-description">Movie Seating Application</p>
</div>

<div class="row">
    <div class="col-sm-12 blog-main">
        <div class="blog-post">
            <a href="https://rawgit.com/emccemcc/theaterProject/master/index.html"> Also alive!</a>
            </br>
            <p>
                This is the result of a one week midterm with two other group members. Using jQuery, my group created a simple reservation page. There are some fun elements involved (HTML5 video and a voice synthesizer) with the array manipulation of the seats being
                my primary contribution. The logo is a stock image from Inkscape saved as an SVG.
            </p>
        </div>
    </div>
</div>
