<div class="blog-header">
    <h1 class="blog-title">Home</h1>

</div>

<div class="row">

    <div class="col-sm-12 blog-main">
        <div class="blog-post">
          <h1 class="blog-title">Hello World</h1>
            <p class="blog-post-meta">April 5, 2017 by Eric</p>
            <p>
                Hi. If you've come to this site, you might have some questions about me. You wouldn't find too much here, but hopefully just enough the start a conversation. Hopefully, we've been lucky enough to already have one, and this keeps the party going. I'm a
                recent graduate of Grand Circus' Front-End Developer Bootcamp. Yes, there is a hyphen, and yes, it is a mouthful. Feel free to look at my work and reach out to me on the links listed below.
            </p>
            <p>
                This site was made in Angular, using Bootstrap's template blog page. Nothing too fancy at this point, but if you're looking for fancy, my work is just a click away.
            </p>
        </div>

    </div>


</div>
